header {
	padding: 2em 0 !important;
}
header h1 {
	font-size: 4em;
	line-height: 0;
	margin-top: .25em;
}

header img {
	width: 40%;
}

section {
	//border-bottom: 1px dotted #CCC;
	padding: 4em 0;
}

section h2 {
	font-size: 2.25em;
}

section p {
	padding: 0;
}

input[type='text'] {
	text-align: center;
	font-size: 1.65em;
	width: 85%;
	margin-bottom: 1.25em;
}

.blankSpace {
	display: inline-block;
	text-align: center;
	color: #CCC;
	border-bottom: 1px solid #888;
	font-size: 1em !important;
	padding: 0 .25em;
}

.chosenWord {
	display: inline-block;
	text-align: center;
	font-weight: 400;
}

footer p {
	padding: 3em 0 3em 0;
}